<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO2</title>
  </head>
  <body>
    <img src= '{{  detail.image }}' alt="" style = "width:300px;">
    <h2>{{ detail.name }}</h2>
    <p> <b>Yob:</b> {{ detail.yob }} </p>
    <p> <b>Height:</b> {{ detail.height }} </p>
    <p> <b>Gender:</b> {{ detail.gender }} </p>
    <p> <b>Address:</b> {{ detail.address }} </p>
    <p> <b>Status:</b> {{ detail.status }} </p>

    <p> <b>Des:</b> {{ detail.description }} </p>
    <p> <b>Measurements:</b> {{ detail.measurements }} </p>


  </body>



</html>
